{% extends 'base/base_cliente_proyectoCrear.html' %}  
{% block content %}  
{% load static %}

<section class="section">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <!-- Texto -->
      <div class="column is-4">
        <h2 class="title is-3 has-text-weight-bold">¿Tienes un proyecto?</h2>
        <p class="subtitle is-6 mt-3">
          ¿Cuentas con un proyecto que tenga documentos como planos, permisos,
          entre otros?
        </p>
      </div>

      <!-- Opciones con enlaces -->
      <div class="column is-5">
        <!-- Opción Sí -->
        <a href="{% url 'crear_proyecto' %}" class="opcion-box-link">
          <div class="box opcion-box mb-4">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large">
                  <i class="fas fa-clipboard-list fa-2x"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="has-text-weight-bold is-size-5">Sí</p>
                <p>
                  A continuación, completa un formulario para crear tu proyecto
                  y publicarlo.
                </p>
              </div>
            </div>
          </div>
        </a>

        <!-- Opción No -->
        <a href="/adquirir-planos" class="box opcion-box">
          <div class="media">
            <div class="media-left">
              <span class="icon is-large">
                <i class="fas fa-shopping-bag fa-2x"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="has-text-weight-bold is-size-5">No</p>
              <p>
                Te redirigiremos a un sitio donde podrás adquirir proyectos o
                planos disponibles.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
