{% extends 'base/base_registration.html' %}  
{% block content %}

<!-- Formulario Empresa -->
<section class="section registro-form">
  <div class="container has-text-centered">
    <h2 class="title is-3 has-text-weight-bold subtitulo-subrayado mb-6">
      Registrar Empresa
    </h2>

    <div class="box mx-auto" style="max-width: 400px">
      <form method="post">
        {% csrf_token %}

        <div class="field">
          <label class="label has-text-left">Correo electrónico</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="email"
              name="email"
              placeholder="empresa@correo.cl"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-left">RUT Empresa</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="text"
              name="rut"
              placeholder="12345678-9"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-id-card"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-left">Razón social</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="text"
              name="razon_social"
              placeholder="Constructora Ejemplo SpA"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-left">Contraseña</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="password"
              name="password"
              placeholder="••••••••"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <div class="field mt-5">
          <div class="control">
            <button class="button is-link is-fullwidth">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
